.App {
  text-align: center;
}

ul {
  list-style: none;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.delete {
  cursor: pointer;
  color: red;
  font-weight: 700;
}

input:checked + span {
  text-decoration: line-through;
}